<html>
<head>
    <title>upload the file : GFG</title>
</head>
<body>
    ><!DOCTYPE html><html>
  <head>
    <meta charset="utf-8">
     <title>Capture0.png</title>
  </head>


<body style="max-width: 500px; margin: auto; background-color:black;",>
  <img src="https://www.catsuka.com/interf/breves/lain25th_arg.jpg" alt="Capture0.png"/>


<h1 id ="blink" style = 'color:gray;'>insta: contriveone</h1>

<script type="text/javascript">
        let blink =
            document.getElementById('blink');

        setInterval(function () {
            blink.style.opacity =
                (blink.style.opacity == 0 ? 1 : 0);
        }, 800);
</script>

<h1> </h1>
    <form action = "/success" method = "post" enctype="multipart/form-data">
        <label style = "color:white" > وصل </label>
     </div>


    </form>
</body>
</html>